img[src$='#me']
{
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

figure {
  text-align: center;
}

figure img{
  max-width: 100%
}

.twitter-tweet-rendered {
  padding: 10px
}

.representative-image {
  float:right;
  width: 17em
}
